@import "/src/styles/vars.scss";

.authentication-panel {
  &__entry {
    text-decoration: none;
    color: $main-color;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }

  &__user-name {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: $main-color-light;
    }
  }
}
