<div class="log-in__card">
  <form class="log-in__form" [formGroup]="form" (ngSubmit)="submit()">
    <input
      type="text"
      class="log-in__input"
      formControlName="name"
      placeholder="Имя"
      required
    />
    <input
      type="password"
      class="log-in__input"
      formControlName="password"
      placeholder="Пароль"
      required
    />
    <span [hidden]="!isAuthenticationFailed" class="log-in__authentication-error">
      Неверные логин или пароль
    </span>
    <button [disabled]="form.invalid" type="submit" class="log-in__submit">
      Войти
    </button>
  </form>
</div>
