@import "/src/styles/vars.scss";

.log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  &__card {
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    padding-top: 110px;
    border: 2px solid $main-color;
    border-radius: 10px;
    box-shadow: 0px 0px 21px 5px rgba(34, 60, 80, 0.16);
  }

  &__header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    left: 0;
    top: 0;
    right: 0;
    background: $main-color;
    height: 70px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__input {
    padding: 10px;
    color: $main-color;
    border: 1px solid $main-color;
    border-radius: 5px;

    &::placeholder {
      color: $main-color-light;
    }

    &:active,
    &:focus {
      outline: 2px solid $main-color;
    }
  }

  &__submit {
    padding: 10px;
    background: transparent;;
    border: 2px solid $main-color;
    border-radius: 5px;
    color: $main-color;
    font-weight: 700;

    &:hover {
      background: $main-color-light;
      color: white;
    }

    &:active {
      background: $main-color;
    }

    &:disabled {
      background: transparent;
      border: 1px solid $main-color-light;
      color: $main-color-light;
    }
  }
}
