.organizations-list {
  list-style-type: none;
  padding: 0;

  &__check-item {
    cursor: pointer;
  }

  &__item {
    cursor: pointer;
  }

  &_hidden {
    display: none;
    padding-left: 20px;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ &_hidden {
    display: block;
  }
}
