<app-organization-card *ngIf="isOrganizationCard"></app-organization-card>

<span>Режим отображения: </span>
<span class="home__radio-group">
  <label>
    <input
      type="radio"
      name="displayType"
      value="list"
      [checked]="organizationDisplayType === 'list'"
      (change)="handleDisplayTypeRadioChange('list')"
    />
    Список
  </label>
  <label>
    <input
      type="radio"
      name="displayType"
      value="tree"
      (change)="handleDisplayTypeRadioChange('tree')"
    />
    Дерево
  </label>
</span>

<ul class="organizations-list" *ngIf="organizationDisplayType === 'list'">
  <li
    class="organizations-list__item organizations-list__item_hovered"
    *ngFor="let organization of organizationsList"
    (click)="handleItemClick($event)"
  >
    {{ organization.fullOrganizationName }} {{ organization.address }}
  </li>
</ul>

<ul class="organizations-list" *ngIf="organizationDisplayType === 'tree'">
  <li
    class="organizations-list__item"
    *ngFor="let organization of organizationsTree"
  >
    <label class="organizations-list__check-item"
      >+
      <span
        class="organizations-list__item organizations-list__item_hovered"
        (click)="handleItemClick($event)"
        >{{ organization.fullOrganizationName }}
        {{ organization.address }}</span
      >
      <input class="organizations-list__checkbox" type="checkbox" />
      <ul
        class="organizations-list organizations-list_hidden"
        (click)="handleHiddenOrganizationListClick($event)"
      >
        <li
          class="organizations-list__item organizations-list__item_hovered"
          *ngFor="let branch of organization.branch"
          (click)="handleItemClick($event)"
        >
          {{ branch.address }}
        </li>
      </ul>
    </label>
  </li>
</ul>

<button *ngIf="role === 'admin'" class="home__add-organization">
  Добавить организацию
</button>
